/*General*/
html, body
{
        height:100%;
	width:1240px;
        margin:0;
        padding:0;
        list-style:none;
        background-color:#f7f7f7;
        font-family:sans-serif,Lucida Grande,Lucida Sans Unicode;
        font-size:10pt;
        color:#676767;
        line-height:21px;
	margin-left: auto;
 	margin-right: auto;
}

/*footer*/

.footer
{
        width:1240px;
        height:33px;
        background-color:green;
        text-align:center;
        color:black;
        padding-top:10px;
}


/*header*/

.bandeau
{
        width:1240px;
        height:159px;
        background-image:url(../images/banniere-debian-aptitude.png);*/
        text-align:center;
        color:#000000;
        /*font-family: 'Crafty Girls', cursive;
        font-size:32px;
        padding-top:20px;*/
}

#content
{
	height: 200px;
	width: 100%;
}
