/*General*/
html, body
{
        height:100%;
        margin:0;
        padding:0;
        list-style:none;
        background-color:#f7f7f7;
        font-family:sans-serif,Lucida Grande,Lucida Sans Unicode;
        font-size:10pt;
        color:#676767;
        line-height:21px;
}

/*footer*/

.footer
{
        width:100%;
        height:33px;
        background-color:green;
        text-align:center;
        color:black;
        padding-top:10px;
}


/*header*/

.bandeau
{
        width:100%;
        height:88px;
        /*background-image:url(../imgs/bandeau.png);*/
        text-align:center;
        color:#000000;
        /*font-family: 'Crafty Girls', cursive;*/
        font-size:32px;
        padding-top:20px;
}

